<div class="container">
    <div class="row">
        <div *ngFor="let product of products; 
        index as productId" 
        class="card" 
        style="width: 18rem;"
        >
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <a 
              [routerLink]="['/products', productId]" class="btn btn-primary"
              >En savoir plus</a>
            </div>
        </div>
    </div>
</div>